<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2 text-center">
        <h1 class="display-4">Oops!</h1>
        <a href="/listings" class="btn btn-primary mt-3" style="background-color: #409771; color: white;">Back to Listings</a>  
        <br>
        <br>
        <div class="alert alert-danger" role="alert">
            <h3><%= err.statusCode %> - <%= err.message %></h3>
        </div>
</div>